<odoo>
	<data>
		<menuitem id="vit_product_request_top_menu" name="ProductRequest" sequence="20" web_icon="vit_product_request,static/description/icon.png" />
		<menuitem id="vit_product_request_sub_menu" name="Operations" sequence="40" parent="vit_product_request_top_menu" />
		<menuitem id="vit_product_request_config_menu" name="Configurations" sequence="50" parent="vit_product_request_top_menu" />
	</data>
</odoo>